body {
  font: 100% "Trebuchet MS";
  color: #fff; }

#div1 {
  background-color: #163958; }

.dblue, #div2 {
  background-color: #0C2035; }

nav.navbar {
  margin: 30px 80px; }
  nav.navbar * {
    color: #fff; }
  nav.navbar .navbar-nav li a {
    border-bottom: 1px solid #476681; }
  nav.navbar .navbar-nav li a:hover {
    background-color: transparent;
    border-bottom: 1px solid #31BEF8; }
  nav.navbar .navbar-nav li.active a {
    border-bottom: 1px solid #31BEF8; }

div.jumbotron {
  border-raduis: 0;
  background-color: transparent;
  border: none; }
  div.jumbotron p {
    font-size: large; }

.percent div h1 {
  color: #31BEF8; }

.carousel-content {
  display: flex;
  align-items: center; }
  .carousel-content a {
    font-size: 12px; }
  .carousel-content h1 {
    margin-top: 10px; }
  .carousel-content p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 50px; }
  .carousel-content a.btn {
    background-color: transparent;
    border-radius: 30px;
    color: #fff;
    border-color: #3B4C5E;
    padding: 10px 30px; }

.carousel {
  width: 100%;
  height: auto;
  padding: 50px; }
  .carousel a.view-all {
    bottom: 30px;
    right: 55px;
    color: inherit; }

.view-all {
  position: absolute;
  bottom: 0;
  right: 20px;
  /*color:inherit;*/
  font-weight: bold;
  font-size: 12px; }
  .view-all span {
    color: #F4A657; }

#div3 {
  color: #777;
  margin: 60px; }
  #div3 h1 {
    color: #293C50;
    margin-top: 20px;
    margin-bottom: 60px; }
  #div3 .row h5.bgray {
    color: #373737; }

.news h4 {
  color: #373737; }
.news p {
  font-size: 12px;
  line-height: 20px; }

.noPM {
  padding: 0;
  margin: 0; }

.bgray {
  padding-bottom: 15px;
  margin: 15px 0;
  border-bottom: 1px solid #f3f3f3; }

.event a:hover {
  text-decoration: none; }

#myCarousel1 {
  height: 380px; }

#div5 {
  background-color: #183E60;
  padding: 50px 150px; }

#div6 {
  padding: 30px 50px; }

#myCarousel .carousel-control {
  top: 40%; }
#myCarousel .carousel-control.left {
  background-image: none; }
#myCarousel .carousel-control.right {
  background-image: none; }

#video-wrap {
  height: 400px;
  margin-top: 50px; }

/*# sourceMappingURL=main.css.map */
