@import 'variable';
@import 'function';

body {
	font: 100% $font-stack;
	color: $primary-color;
}
#div1 {
	background-color:#163958;
}
.dblue {
	background-color:#0C2035;
}
#div2 {
	 @extend .dblue;
}
nav.navbar {
	margin:30px 80px;
	
	* {
		color: $primary-color;
	}
	.navbar-nav {
		
		li {
			a {
				border-bottom:1px solid #476681;
			}
			a:hover {
				background-color:transparent;
				border-bottom:1px solid #31BEF8;
			}
		}
		
		li.active {
			a {
				border-bottom:1px solid #31BEF8;
			}
		}
	}
}
div.jumbotron {
	border-raduis:0;
	background-color:transparent;
	border:none;
	
	p{
		font-size:large;
	}
}
.percent div {
	h1 {
		color:#31BEF8;
	}
}
.carousel-content {
	display:flex;
	align-items:center;
	
	a{
		font-size:12px;
	}
	h1 {
		margin-top:10px;
	}
	p{
		font-size:14px;
		margin-top:30px;
		margin-bottom:50px;
	}
	a.btn {
		background-color:transparent;
		border-radius:30px;
		color:#fff;
		border-color:#3B4C5E;
		padding:10px 30px;
	}
}
.carousel{
	width: 100%;
	height: auto;
	padding: 50px;
	
	a.view-all {
		bottom:30px;
		right:55px;
		color:inherit;
	}
}

.view-all {
	position: absolute;
	bottom:0;
	right:20px;
	/*color:inherit;*/
	font-weight:bold;
	font-size:12px;
	
	span {
		color:#F4A657;
	}
}
#div3 {
	color:#777;
	margin:60px;
	
	h1 {
		color:#293C50;
		margin-top:20px;
		margin-bottom:60px;
	}
	.row h5.bgray {
		color:#373737;
	}
}
.news {

	h4 {
		color:#373737;
	}
	p {
		font-size:12px;
		line-height:20px;
	}
}
.noPM {
	padding:0;
	margin:0;
}
.bgray {
	padding-bottom:15px;
	margin:15px 0;
	border-bottom:1px solid #f3f3f3;
}
.event a:hover {
	text-decoration: none;
}
#myCarousel1 {
	height:380px;
}
#div5 {
	background-color:#183E60;
	padding:50px 150px;
}
#div6 {
	padding:30px 50px;
}
#myCarousel {
	.carousel-control {
		top:40%;
	}
	.carousel-control.left{
		background-image:none;
	}
	.carousel-control.right{
		background-image:none;
	}
}
#video-wrap {
	height:400px;
	margin-top:50px;
}

